* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #900c3f;
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #c5b358;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #c5b358; 
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

footer {
    background-color: #900c3f;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

footer a {
    color: #c5b358; 
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 1024px) {
    h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }
}
